.taskListContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  border-radius: 10px;
  box-shadow: 0 0 4px #ccc;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 24px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.title {
  text-align: center;
  font-size: 1.6rem;
}

.createBtn {
  width: 130px;
  align-items: flex-end;
}

.taskList {
  width: 100%;
  max-height: 600px;
  min-height: 100px;
  overflow-y: auto;
}

.noTask {
  display: block;
  padding-top: 30px;
  align-self: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
