.navigateContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: rgb(183, 202, 183);
}

.navigateLink {
    text-decoration: none;
    color: black;
    font-size: 1.03rem;
    font-weight: 600;
}
