.taskFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input {
  outline: none;
  padding: 8px 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: all 0.2s;
  width: 300px;

  &:focus {
    border-color: #8b8b8b;
    box-shadow: 0 0 4px #ccc;
  }
}

.errorMessage {
    text-align: start;
    color: red;
    margin-top: 6px;
}

.btn {
    width: 120px;
}